<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title >ID - {{userData.login}}</mat-card-title>
      <mat-card-title *ngIf="userData.name != null">Name - {{userData.name}}</mat-card-title>
      <mat-card-title *ngIf="userData.email != null" >Email - {{userData.email}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]= userData.avatar_url>
    <mat-card-content>
      <p>
        Signed in {{regularDate}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card2">
    <mat-card-header>
      <mat-card-title>Repositories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="userRepos">
			    <div *ngFor="let repo of userRepos"><a href="{{repo.html_url}}">{{repo.name}}</a></div>
			  </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card3">
      <mat-card-header>
        <mat-card-title>Followers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div *ngIf="userFollws">
            <div *ngFor="let follow of userFollws"><a href="{{follow.html_url}}">{{follow.login}}</a></div>
          </div>
      </mat-card-content>
    </mat-card>