.example-card {
    max-width: 400px;
    margin-left: 10px;
    margin-top: 10px
  }
.example-card2 {
    width: 200px;
    margin-left: 480px;
    margin-top: 10px
  }

  .example-card3 {
    max-width: 400px;
    margin-left: 770px;
    margin-top: 10px
  }
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card{
    position: absolute
}