.full-width{
    width: 100%;
  }

#input-field{
    max-width: 400px;
	margin: auto auto;
	text-align: center;

}
.button-row {
  align-items: center;
  justify-content: space-around;
  margin-left:5px
}