<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="space"></span>
    <span>Github - User Data Search Engine </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar>
  <mat-toolbar-row>
    <div id="input-field">
      <mat-form-field color="white" class="full-width">
        <input type="search" placeholder="Enter a GitHub User ID" [(ngModel)]="IDuser" matInput>
      </mat-form-field><button class="button-row" mat-raised-button color="primary" (click) = getUserID(IDuser)>SEARCH</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="userContent != null">
  <app-user [userData] = "userContent" [userRepos] = "userRepo" [userFollws] = "userFol"></app-user></div>
